<%= form_tag users_list_path, class: "form-inline", method: :get do %>
  <div class="row">
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search. . .", autocomplete: "off" %>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </span>
    </div>
  </div>
  <% if params[:query].present? %>
    <%= link_to "clear", patients_path %>
  <% end %>
<% end %>
<% if @users.present? %>
  <% @users.each do |user| %>
    <h3><%= user.name %></h3>
    <p> website: <a href="<%=user.short_url%>"><%=user.short_url%></a></p>
    <% if @current_user.friends_with?(user) %>
      <%= link_to "Remove friend", remove_friend_path(user), method: :post %>
    <% else %>
      <%= link_to "Add as Friend", add_friend_path(user), method: :post %>
    <% end %>
  <% end %>
<%else%>
  <p>No users exist<p>
<% end %>
