<h2>Welcome to <%= @user.name %>'s Profile</h2>
<p>Website: <a href="<%=@user.url%>"> <%= @user.url %> </a></p>

<h2>Content of headings</h2>
<% @user.headings.each do |heading|%>
  <p><%= heading.content %></p>
<% end %>
