<% if @users.present? %>
  <% @users.each do |user| %>
    <h3><%= user.name %></h3>
    <p> website: <a href="<%=user.short_url%>"><%=user.short_url%></a></p>
    <%= link_to "Accept Request", accept_request_path(user), method: :post %>
  <% end %>
<%else%>
 <p>You have no friend request :(<p>
<%end%>
