/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* mixins, variables, etc. */
 $gray-medium-light: #eaeaea;

 @mixin box_sizing {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   box-sizing:         border-box;
 }

 /* universal */
 html {
   overflow-y: scroll;
 }

 body {
   padding-top: 110px;
 }

 section {
   overflow: auto;
 }

 textarea {
   resize: vertical;
 }

 .center {
   text-align: center;
   h1 {
     margin-bottom: 10px;
   }
 }

 /* typography */
 h1, h2, h3, h4, h5, h6 {
   line-height: 1;
 }

 h1 {
   font-size: 3em;
   letter-spacing: -2px;
   margin-bottom: 30px;
   text-align: center;
 }

 h2 {
   font-size: 1.2em;
   letter-spacing: -1px;
   margin-bottom: 30px;
   text-align: center;
   font-weight: normal;
   color: $gray-light;
 }

 p {
   font-size: 1.1em;
   line-height: 1.7em;
 }

 /* header */
 #logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: white;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
   &:hover {
     color: white;
     text-decoration: none;
   }
 }

 /* footer */
 footer {
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid $gray-medium-light;
   color: $gray-light;
   a {
     color: $gray;
     &:hover {
       color: $gray-darker;
     }
   }
   small {
     float: left;
   }
   ul {
     float: right;
     list-style: none;
     li {
       float: left;
       margin-left: 15px;
     }
   }
 }

 /* forms */
 input, textarea, select, .uneditable-input {
   border: 1px solid #bbb;
   width: 100%;
   margin-bottom: 15px;
   @include box_sizing;
 }

 input {
   height: auto !important;
 }
 #error_explanation {
   color: red;
   ul {
     color: red;
     margin: 0 0 30px 0;
   }
 }

 .field_with_errors {
   @extend .has-error;
   .form-control {
     color: $state-danger-text;
   }
 }

 .checkbox {
   margin-top: -10px;
   margin-bottom: 10px;
   span {
     margin-left: 20px;
     font-weight: normal;
   }
 }
